---
title: "Kured - Kubernetes Reboot Daemon"
linkTitle: "Kured"
---

{{< blocks/cover title="Kured - Kubernetes Reboot Daemon" image_anchor="top" >}}
  <img class="w-25 mb-4" src="img/kured.png" alt="Kured logo" />
  <div class="mx-auto">
    <a class="btn btn-lg btn-primary" href="{{< relref "/docs" >}}">
      Read the documentation
      <i class="fa-solid fa-circle-right ml-2"></i>
    </a>
  </div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Kured (KUbernetes REboot Daemon) is a Kubernetes daemonset that
performs safe automatic node reboots when the need to do so is
indicated by the package management system of the underlying OS.
{{% /blocks/lead %}}

{{< blocks/section color="light" >}}

{{% blocks/feature icon="fa-search" %}}
Watches for the presence of a reboot sentinel file e.g. `/var/run/reboot-required`
or the successful run of a sentinel command.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lock" %}}
Utilises a lock in the API server to ensure only one node reboots at a time.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-user-clock" %}}
Optionally defers reboots in the presence of active Prometheus alerts or selected pods.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-tasks" %}}
Cordons & drains worker nodes before reboot, uncordoning them after.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="white" >}}

  <div class="container">
    <div class="row">
      <img src="/img/cncf-color.png" width="600px" class="cncf-logo img-fluid mb-3">
    </div>
    <div class="row">
      <p class="text-muted">Kured is a Cloud Native Computing Foundation Sandbox project.</p>
    </div>
    <div class="row">
      <small class="text-muted">The Linux Foundation® (TLF) has registered trademarks and uses trademarks. For a list of TLF trademarks, see <a href="https://www.linuxfoundation.org/trademark-usage/">Trademark Usage</a>.</small>
    </div>
  </div>

  {{< /blocks/section >}}
